<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="headerCentr">
                <div id="iconsBlcok">
                        <div><i class="fab fa-facebook-f"></i></div>
                        <div><i class="fab fa-twitter"></i></div>
                        <div><i class="fas fa-volleyball-ball"></i></div>
                        <div><i class="fab fa-linkedin-in"></i></div>
                </div>
                <div id="navbar">
                    <div id="logoBlock">
                        <div id="imgBlcok"><img id="logo" src="img/logo.jpg" alt="logo"></div>
                        <h2 class="flex">FLEX</h2>
                    </div>
                    <i id="toggle" onclick="menu()" class="fas fa-bars"></i>
                    <nav>
                        <ul>
                            <li>Home</li>
                            <li>Services</li>
                            <li>Portfolio</li>
                            <li>Team</li>
                            <li>Contact</li>
                        </ul>
                    </nav>
                </div>
                <div id="dropMenu">
                        
                                <ul>
                                    <li>Home</li>
                                    <a href="#servicesBlocks"><li>Services</li></a>
                                    <a href="#portBlocks"><li>Portfolio</li></a>
                                    <li>Team</li>
                                    <li>Contact</li>
                                </ul>
                </div>
                <div id="digitalBlock">
                        <h3>DIGITAL STUDIO</h3>
                        <h6>LET US DESIGN YOUR WEBSITE</h6>
                        <button>RESPONSIV TAMPLATE</button>
                </div>
            </div>
        </header>
        <main>
            <div id="servicesText">
                <h4>OUR SERVICES</h4>
                <p>LET US HELP CREATE PROFESSIONAL WEBSITES</p>
            </div>
            <div id="servicesBlocks">
                <div style="background:#1BBC9B"><i class="fa fa-code"></i></div>
                <div style="background: #E67F22"><i class="fa fa-paper-plane"></i></div>
                <div style="background:#3598DB"><i class="fa fa-home"></i></div>
                <div style="background:#2DCC72"><i class="fa fa-flask"></i></div>
            </div>
            <div id="servicesText">
                    <h4>OUR PORTFOLIO</h4>
                    <p>WHAT WE HAVE DONE SO FAR</p>
            </div>
            <div id="portBlocks">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </main>
    </div>


    <script>
        var click = 0;
        function menu() {
           var dropBlock = document.getElementById("dropMenu");
           click++;
           if(click%2!=0){
                dropBlock.style.display = "block";
           }
           else{
                dropBlock.style.display = "none";  
           }
        }
    </script>
</body>
</html>
