<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div onscroll="func()" id="wrapper">
        <header id="header">



            <div id="slideContainer">
                    <div id="iconsBlcok">
                            <div><i class="fab fa-facebook-f"></i></div>
                            <div><i class="fab fa-twitter"></i></div>
                            <div><i class="fas fa-volleyball-ball"></i></div>
                            <div><i class="fab fa-linkedin-in"></i></div>
                    </div>
                <div class="mySlides fade">
                    <img src="img/slide1.jpg" alt="img">
                </div>
                <div class="mySlides fade">
                    <img src="img/slide2.jpg" alt="img">
                </div>
                <div class="mySlides fade">
                    <img src="img/slide3.jpg" alt="img">
                </div>
                <div id="digitalBlock">
                        <h3>DIGITAL STUDIO</h3>
                        <h6>LET US DESIGN YOUR WEBSITE</h6>
                        <button>RESPONSIV TAMPLATE</button>
                </div>
            </div>
            <div style="text-align:center;margin: 20px;">
                    <span class="dot"></span> 
                    <span class="dot"></span> 
                    <span class="dot"></span> 
            </div>











        <div id="headerCentr">
            <div id="haupt">     
                <div id="navbar">
                    <div id="logoBlock">
                        <div id="imgBlcok"></div>
                        <h2  class="flex">FLEX</h2>
                    </div>
                    <div id="toggleDiv"><i id="toggle" onclick="menu()" class="fas fa-bars"></i></div>
                    <nav>
                        <ul>
                            <a href="#header"><li>Home</li></a>
                            <a href="#servicesText"><li>Services</li></a>
                            <a href="#portfolioText"><li>Portfolio</li></a>
                            <a href="#teamText"><li>Team</li></a>
                            <a href="#contact"> <li>Contact</li></a>
                        </ul>
                    </nav>
                </div>
                <div id="globalNav"> 
                    <div id="dropMenu">
                        <ul>
                            <a href="#"><li>Home</li></a>
                            <a href="#servicesText"><li>Services</li></a>
                            <a href="#portfolioText"><li>Portfolio</li></a>
                            <a href="#teamText"><li>Team</li></a>
                            <a href="#contact"><li>Contact</li></a>
                        </ul>
                    </div>
                </div>
    </div>                
            </div>
        </header>

        <main>
            <div id="servicesText">
                <h4>OUR SERVICES</h4>
                <p>LET US HELP CREATE PROFESSIONAL WEBSITES</p>
            </div>
            <div id="servicesBlocks">
                    <div style="background:#1BBC9B;position: relative"><i class="fa fa-code"></i>
                        <div class="opa" style="width:100%;background:#1BBC9B" >
                          <h4>HTML5 CODING</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="background: #E67F22"><i class="fa fa-paper-plane"></i>
                        <div class="opa" style="width:100%;background: #E67F22">
                                <h4>HTML5 CODING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="background:#3598DB"><i class="fa fa-home"></i>
                        <div class="opa" style="width:100%;background:#3598DB" >
                                <h4>HTML5 CODING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="background:#2DCC72"><i class="fa fa-flask"></i>
                        <div class="opa" style="width:100%;background:#2DCC72">
                                <h4>HTML5 CODING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
            </div>

            <div id="portfolioText" class="portfolioText">
                    <h4>OUR PORTFOLIO</h4>
                    <p>WHAT WE HAVE DONE SO FAR</p>
            </div>
            <div id="portBlocks">
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background:#EC523F" >
                          <h4>HTML5 CODING</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background: #EC523F">
                                <h4>HTML5 CODING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background:#EC523F" >
                                <h4>HTML5 CODING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background:#EC523F">
                                <h4>HTML5 CODING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background:#EC523F" >
                          <h4>HTML5 CODING</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background: #EC523F">
                                <h4>HTML5 CODING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background:#EC523F" >
                                <h4>HTML5 CODING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background:#EC523F">
                                <h4>HTML5 CODING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
            </div>
            <div id="teamText">
                    <h4>OUR TEAM</h4>
                    <p>OUR PEOPLE ARE VERY UNITED FOR YOUR SUCCESS</p>
            </div>
            <div id="teamBlocks">
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background:#EC523F" >
                            <h4>TRACY</h4>
                            <p>DESIGNER</p>
                            <a id="teamI"><i class="fab fa-facebook-f"></i></a>
                            <a id="teamI"><i class="fab fa-twitter"></i></a>
                            <a id="teamI"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background: #EC523F">
                            <h4>CINDY</h4>
                            <p>DEVELOPER</p>
                            <a id="teamI"><i class="fab fa-facebook-f"></i></a>
                            <a id="teamI"><i class="fab fa-twitter"></i></a>
                            <a id="teamI"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background:#EC523F" >
                            <h4>MARY</h4>
                            <p>DIRECTOR</p>
                            <a id="teamI"><i class="fab fa-facebook-f"></i></a>
                            <a id="teamI"><i class="fab fa-twitter"></i></a>
                            <a id="teamI"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div class="opa" style="width:100%;background:#EC523F">
                            <h4>LINDA</h4>
                            <p>CHIEF EXECUTIVE</p>
                            <a id="teamI"><i class="fab fa-facebook-f"></i></a>
                            <a id="teamI"><i class="fab fa-twitter"></i></a>
                            <a id="teamI"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
            </div>
            <div id="contact">
                    <h4>CONTACT</h4>
                    <p>SEND A MESSAGE TO US</p>
            </div>
            <div id="conWrapper"> 
                <div id="conText">
                    <p>Flex is a Bootstrap v3.1.1 HTML CSS web template by templatemo. Slider images and portfolio images are from Unsplash website. Thank you for visiting. Please tell your friends about templatemo.</p>
                    <p>Hic, suscipit, praesentium earum quod ea distinctio impedit ullam deserunt minus dolore quibusdam quis saepe aliquam doloribus voluptatibus eum excepturi. Aenean semper erat neque. Nunc et scelerisque nunc, in adipiscing magna.</p>
                    <p>Duis ullamcorper tortor tellus. Ut diam libero, ultricies non augue a, mollis congue risus. Fusce a quam eget nisi luctus imperdiet. Consectetur quod at aperiam corporis totam. Nesciunt minima laborum sapiente totam facere unde est cum quia.</p>
                    <address>
                            Phone: 033-033-0660<br>
                            Email: info@company.com<br>
                            Address: 880 De Best Studio, Fork Street, San Franciscos
                    </address>
                </div>
                <form>
                    <input type="text" class="username" placeholder="Your Name">
                    <input type="email" class="imail" placeholder="Your Email">
                    <input type="subject" class="subjext" placeholder="Subject">
                    <textarea name="Message" id="" cols="30" rows="6" placeholder="Message"></textarea>
                    <button>SEND MESSAGE</button>    
                </form>

            </div>
            <div class="topDiv" style="position:relative"> <a href="#header"> <button class="tapTop">TAP TO TOP</button></a></div>
        </main>
    </div>    
    <script src="js/script.js"></script>
</body>
</html>

