html{height: 100%;}
*{box-sizing: border-box;}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
main{ 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main::after{
    height: 100%;
    width: 100%;
    content: "";
    background: #00a1ff;
    opacity: 0.4;
    position: absolute;
}
h3{
    color: rgb(218, 223, 252);
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vw;
}
p{
    margin: 10px 0;
    font-size: 0.8vw;
    color: rgb(218, 223, 252);
    font-family: 'Roboto', sans-serif;
}
form{
    width: 26%;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 9;
    background-size: cover;
    background-repeat: no-repeat;
}
form::after{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    content: "";
    background: #003f64;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
}
form div{z-index: 99;}
#formHeader{
    width: 100%;
    position: relative;
}
.fas{
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 4vw;
    opacity: 0.3;
    color: white;
}
#inpBlock{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}
textarea{
    max-width: 100%;
    height: 60px;
}
input,textarea{
    margin-top: 5%;
    padding: 0.6vw;
    border: none;
    border-radius: 3px;
    color: #444444;
    outline: none;
}
#buttonBlock{
    margin-top: 20px;
    position: relative;
}
button{
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: whitesmoke;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    color: #00a1ff;
}
button:hover{
    background: #00a1ff;
    color: whitesmoke;
    transition: 0.4s;
}

